*{
    margin: 0;
    padding: 0;
}
.theme{
    background-color: #004AAD;
    color: #fff;
}

.main-cotainer{
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
}

.main-heading-container h2 {
    font-size: 5rem;
    font-family: math;
}
.colorFirstLetter{
    color: #004AAD;
}

.subTxt {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: math;
    text-align: center;
    border-radius: 4px;
    margin: 15px 0;
    padding: 7px 0;
}
.btn {
    border: none;
    padding: 9px 28px;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    /* margin: 0 10px; */
}
.active,.btn:hover{
    background-color: #38B6FF;
    color: #fff;
}
.search-outer-container {
    margin: 1rem auto;
    width: 100%;
}

.input-cotainer {
    display: flex;
    gap: 10px;
}
.input-search-container{
    width: 100%;
    display: flex;
}
.input-search-container input {
    width: 100%;
    padding: 1rem 0;
    border-radius: 4px;
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    color: #004AAD;
    border: 1px solid #80808069;
}
.input-search-container input:focus-visible{
    outline: none;
    border: 1px solid gray;
}

#btn {
    margin-left: -3rem;
    z-index: 5;
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    padding: 8px;
}

#outputArea {
    width: 100%;
    margin-top: 2rem;
}
.card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #004AAD;
    color: #fff;
    border-radius: 4px;
    margin: 1rem 0;

}
.items{
    width: 33.33%;

}
.items:first-child{
    display: none!important;
}
.items:nth-child(3){
    text-align: center;
}
.items:last-child{
    text-align: end;
}
.itemHeader {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: monospace;
}
.itemTxt {
    font-size: 17px;
    margin-top: 10px;
    font-family: sans-serif;
}